<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">List Student</h1>
        <p class="lead">This is a form where you can view the list of students.</p>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">DNI</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Career</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let studentDto of studentsDto">
                <th scope="row">{{studentDto.studentId}}</th>
                <td>{{studentDto.firstName}}</td>
                <td>{{studentDto.lastName}}</td>
                <td>{{studentDto.dni}}</td>
                <td>{{studentDto.email}}</td>
                <td>{{studentDto.address}}</td>
                <td>{{studentDto.careerName}}</td>
                <!-- <ng-container *ngFor="let career of careers">
                    <td *ngIf="student.careerId === career.careerId; else nocareer">
                        {{career.name}}
                    </td>
                </ng-container> -->
                <td><button type="button" class="btn btn-success"
                        [routerLink]="['../view', studentDto.studentId]">View</button></td>
                <td><button type="button" class="btn btn-danger" (click)="deleteStudent(studentDto.studentId)">
                        <fa-icon [icon]="faTimes"></fa-icon>
                    </button></td>
            </tr>
        </tbody>
    </table>
</div>